USE [master]
GO
/****** Object:  Database [lab5]    Script Date: 11/19/2018 20:38:11 ******/
CREATE DATABASE [lab5] ON  PRIMARY 
( NAME = N'lab5', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\lab5.mdf' , SIZE = 2304KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'lab5_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\lab5_log.LDF' , SIZE = 504KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [lab5].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [lab5]
GO
/****** Object:  Table [dbo].[USERS]    Script Date: 11/19/2018 20:38:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERS](
	[username] [nvarchar](50) NULL,
	[password] [nvarchar](50) NULL,
	[lastname] [nvarchar](50) NULL,
	[isAdmin] [bit] NULL
) ON [PRIMARY]
GO
